:root {
    --bg-color: #2c3e50;
    --text-color: #ecf0f1;
    --header-bg: #34495e;
    --border-color: #ecf0f1;
    --button-bg: #e74c3c;
    --button-hover-bg: #c0392b;
    --input-bg: #34495e;
    --input-text-color: white;
    --highlight-color: #1abc9c;
    --highlight-hover-color: #f39c12; /* Changed to a more contrasting color */
}

main {
    width: 75% !important;
    margin: 0 auto;
    padding: 20px;
    height: 100% !important;
}

#timesheets-body {
    width: 75% !important;
    margin: 0 auto; /* To center the table */
}


/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--header-bg);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 100%; /* Ensures the header takes the full width */
    box-sizing: border-box; /* Includes padding and border in the width calculation */
}

.header-left .logo {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info span {
    font-size: 16px;
    color: var(--text-color);
    font-weight: bolder;
    transition: color 0.3s ease;
}

.logout-button,
.toggle-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--button-bg);
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover,
.toggle-button:hover {
    background-color: var(--button-hover-bg);
}

/* Navbar Styles */
.navbar {
    background-color: var(--header-bg);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #16a085;
}

.navbar ul li a:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

/* Name Container */
.name-container {
    text-align: left; /* Ensures text is left-aligned */
    font-size: 18px;
    margin: 10px 0;
    color: var(--text-color);
    font-weight: bold;
    padding: 20px;
    transition: color 0.3s ease;
    margin: 0 auto; /* Center the container */
    cursor: pointer;
}

.name-container.hidden {
    padding-bottom: 45px; /* Additional space when table is hidden */
}

/* Centering tables inside the table-wrapper */
#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

/* Styles for narrowing borders and making width fit the text */
.narrow-border {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
 
    padding: 10px;
    text-align: right;
    margin: 0 auto;
    width: auto; /* Fit the width to the text */
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Ensuring input fields inside narrow-border are well-aligned */
.narrow-border input {
    width: auto; /* Make input width fit its content */
    text-align: center;
}



/* Styling for the total rows (bold text, different background) */
tr.total-row td {
    font-weight: bold;
}

/* Styling for approval checkbox row */
tr.approval-row td {
    padding: 10px;
}

/* Custom checkbox styling */
input[type="checkbox"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
    accent-color: #007bff; /* Custom color for the checkbox */
}

th, tr {
    font-weight: bolder !important;
    font-size: medium !important;
    cursor: not-allowed; /* Maintain the not-allowed cursor on hover */

}

/* Apply to all input elements except checkboxes */
input[type="time"]:not(.approve-checkbox),
input[type="text"]:not(.approve-checkbox),
input[type="number"]:not(.approve-checkbox),
input[type="date"]:not(.approve-checkbox) {
    cursor: not-allowed; /* Disabled cursor */
   
}

/* Add hover effect to show the cursor is not allowed */
input[type="time"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="date"]:hover {
    cursor: not-allowed; /* Maintain the not-allowed cursor on hover */
}

/* Prevent interaction */
input[type="time"]:disabled,
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled {
    cursor: not-allowed; /* Maintain the not-allowed cursor on hover */
}


.table-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px; /* Add spacing between the two tables if needed */
    width: 100%; /* Ensure the wrapper takes up the full width */
    padding: 20px;
}

.time-tracking-table, .approval-table {
    display: flex;
    justify-content: center;
    width: 70% !important;}

table {
    border-collapse: collapse;
    margin: 0 auto; /* Center the tables themselves */
    width: 100%; /* Full width for each table */
    max-width: 500px; /* Optional: set a max-width for tables */
}

th, td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: center;
}

h1, h3 {
    text-align: center; /* Center the headings */
}

#check-all-button {
    cursor: pointer; /* Changes cursor to pointer */
    transition: transform 0.5s ease; /* Smooth transition for the transform effect */
}

#check-all-button:hover {
    animation: randomEffect 1s infinite;
}

@keyframes randomEffect {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
}

#loading-indicator {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

/* Input Fields Styling */
input[type="time"],
input[type="number"],
input[type="date"] {
    background-color: var(--input-bg);
    color: var(--input-text-color);
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: large;
}


/* Sticky Submit Button */
#submit-button {
    position: sticky;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: var(--highlight-color); 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}

#submit-button:hover {
    background-color: #00b345; /* Darker shade for hover effect */
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it is on top of other elements */
    transition: opacity 1s ease-in-out;
}

#loading-logo {
    width: 15%;
    height: 15%;
    transition: filter 1s ease-in-out;
    filter: grayscale(100%);
}

#loading-logo.full-color {
    filter: grayscale(0%);
}

#loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

#loading-screen.hidden {
    display: none;
}

/* Notifications */
.notification {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Form Styling */
.time-entry-form {
    width: 96%;
    max-width: 2550px;
    margin: 0 auto;
    background-color: var(--input-bg);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .name-container {
        width: 100%; /* Full width on smaller screens */
        padding-left: 10px; /* Adjust padding for smaller screens */
    }

    .time-entry-table {
        width: 100%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul li a {
        padding: 10px;
    }
}
