:root {
    --bg-color: #2c3e50;
    --text-color: #ecf0f1;
    --header-bg: #34495e;
    --border-color: #ecf0f1;
    --button-bg: #e74c3c;
    --button-hover-bg: #c0392b;
    --input-bg: #34495e;
    --input-text-color: white;
    --highlight-color: #1abc9c;
    --highlight-hover-color: #f39c12; /* Changed to a more contrasting color */
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
}

/* Hide scrollbar while still allowing scrolling */
.scrollable {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;     /* Firefox */
}

.scrollable::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 100vh;
}

header {
    background-color: var(--header-bg);
    padding: 20px;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

.header-left .logo {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info span {
    font-size: 16px;
    color: var(--text-color);
    font-weight: bolder;
    transition: color 0.3s ease;
}

.logout-button,
.toggle-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--button-bg);
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover,
.toggle-button:hover {
    background-color: var(--button-hover-bg);
}

/* Navbar Styles */
.navbar {
    background-color: var(--header-bg);
    overflow: hidden;
    padding: 10px;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: var(--bg-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    background-color: #16a085;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navbar ul li a:hover {
    background-color: var(--highlight-color);
    color: black;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.name-container {
    text-align: left;
    font-size: 18px;
    margin: 10px 0;
    color: var(--text-color);
    font-weight: bold;
    padding: 20px;
    transition: color 0.3s ease;
    margin: 0 auto;
    cursor: pointer;
}

.name-container.hidden {
    padding-bottom: 45px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.narrow-border {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 10px;
    text-align: right;
    margin: 0 auto;
    width: auto;
    white-space: nowrap;
}

.narrow-border input {
    width: auto;
    text-align: center;
}

tr.total-row td {
    font-weight: bold;
}

tr.approval-row td {
    padding: 10px;
}

/* Styling the narrow-column class */
th.narrow-column {
    max-width: 55px;
    text-align: center; /* Optional: To ensure text is centered */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Ensure content doesn't overflow */
}


input[type="checkbox"] {
    width: 24px;
    height: 24px;
    cursor: pointer;
    accent-color: #007bff;
}

th, tr {
    font-weight: bolder !important;
    font-size: medium !important;
    cursor: not-allowed;
}

input[type="time"]:not(.approve-checkbox),
input[type="text"]:not(.approve-checkbox),
input[type="number"]:not(.approve-checkbox),
input[type="date"]:not(.approve-checkbox) {
    cursor: not-allowed;
}

input[type="time"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="date"]:hover {
    cursor: not-allowed;
}

input[type="time"]:disabled,
input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled {
    cursor: not-allowed;
    text-align: center;
}

.table-wrapper {
    display: flex;
    gap: 20px;
    max-width: 150vw;
    max-height: 150vh;
    overflow: hidden;
    padding-bottom: 45px;
}

.scrollable {
    max-width: 100%;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td, table th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.time-tracking-table {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: fit-content;
}

@keyframes randomEffect {
    0%, 100% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(5deg); }
}

#loading-indicator {
    text-align: center;
    font-size: 18px;
    padding: 10px;
}

#header, h1 {
    display: none;
}

.header-visible {
    display: block;
}

input[type="time"],
input[type="number"],
input[type="date"] {
    background-color: var(--input-bg);
    color: var(--input-text-color);
    border: none;
    border-radius: 4px;
    padding: 8px;
    text-align: center;
    font-size: large;
}

#submit-button {
    position: sticky;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: var(--highlight-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}

#submit-button:hover {
    background-color: #00b345;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}

#loading-logo {
    width: 15%;
    height: 15%;
    transition: filter 1s ease-in-out;
    filter: grayscale(100%);
}

#loading-logo.full-color {
    filter: grayscale(0%);
}

#loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}

#loading-screen.hidden {
    display: none;
}

.notification {
    display: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
}

.time-entry-form {
    width: 96%;
    max-width: 2550px;
    margin: 0 auto;
    background-color: var(--input-bg);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    .name-container {
        width: 100%;
        padding-left: 10px;
    }

    .time-entry-table {
        width: 100%;
        margin: 10px 0;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul li a {
        padding: 10px;
    }
}
