:root {
    --bg-color: #2c3e50;
    --text-color: #ecf0f1;
    --header-bg: #34495e;
    --border-color: #ecf0f1;
    --button-bg: #e74c3c;
    --button-hover-bg: #c0392b;
    --input-bg: #34495e;
    --input-text-color: white;
    --highlight-color: #1abc9c;
    --highlight-hover-color: #16a085;
}

body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.header-left, .header-right, .info-container {
    display: inline-block;
    vertical-align: middle;
}
.info-container {
    margin: 10px 0;
}
.form-group, .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.form-label {
    flex: 1;
    text-align: right;
    color: #ecf0f1;
    font-weight: bold;
    padding-right: 10px;
}
.form-value {
    flex: 1;
    color: #1abc9c;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}
.error {
    color: red;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}
.sticky-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.form-control {
    max-width: 100px;
    text-align: center;
}
.narrow-column {
    text-align: center;
}
.time-entry-table {
    max-width: 60%;
    border-collapse: collapse;
    margin: 20px 0;
}
.time-entry-table th, .time-entry-table td {
    border: 1px solid #ddd;
    padding: 8px;
    width: 70%;
}
.time-entry-table th {
    background-color: #34495e;
    color: white;
    width: 70%;
}
.clickable {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bolder;
}

.time-entry-table td:hover {
    color: #1abc9c !important;
}



.header-left .logo {
    height: 50px;
    cursor: pointer;
}

.navbar {
    background-color: var(--header-bg);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #16a085;
}

.error {
    color: red;
  }

.navbar ul li a:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

.pto-info-row {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    margin: 20px 0; 
}

.right-70 {
    float: right;
    text-decoration: underline;
    overflow: hidden;
    border-right: .15em solid #000;
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blink .75s step-end infinite;
    padding-right: 10%;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Optional: Limit the maximum width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(251, 250, 250, 0.961); /* Basic shadow for 3D effect */
   
}

.modal-content:hover {
    background-color: grey;
}

.modal-content p {
    font-size: 16px;
    color: #333; /* Text color */
    margin-bottom: 20px; /* Space between text and buttons */
}

.modal-content button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 50px; /* Rounded button corners */
    cursor: pointer;
    font-size: 16px; /* Consistent font size */
    transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions including 3D effect */
    transform-style: preserve-3d; /* Enable 3D transformations */
}

#confirm-yes, #confirm-no {
    background-color: #4CAF50; /* Green for yes, Red for no */
    color: white;
}

#confirm-yes:hover, #confirm-no:hover {
    animation: spin infinite 1s linear; /* Continuous spin animation */
    transform: translateY(-3px) rotateY(360deg); /* Lift and spin the button */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow for 3D effect */
}

#confirm-no {
    background-color: #f44336; /* Red */
}

#confirm-no:hover {
    background-color: #e53935; /* Darker red */
}

@keyframes spin {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(360deg);
    }
}




.sticky-submit {
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
    
    max-width: 400px;
}

.sticky-submit:hover {
    background-color: var(--button-hover-bg);
}

h3 {
    color: white;
}

.pto-info-row div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px; 
}

.pto-info-row h1 {
    margin: 0;
    font-size: 1.5em;
}

.pto-info-row label {
    margin-top: 10px;
    font-size: 1em; 
}

.pto-info-row .small-input {
    margin-top: 5px;
    padding: 5px;
    font-size: 1em; 
    width: 50px; 
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
}



header {
    background-color: #34495e;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ecf0f1;
}

.user-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info span {
    font-size: 16px;
    color: #ecf0f1;
    font-weight: bolder;
}

#summary {
    display: none; /* Initially hidden */
    font-size: 14px;
}

.logout-button,
.toggle-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: #ecf0f1;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.logout-button:hover,
.toggle-button:hover {
    background-color: #c0392b;
}

body.dark-mode .logout-button,
body.dark-mode .toggle-button {
    background-color: #3498db;
}

body.dark-mode .logout-button:hover,
body.dark-mode .toggle-button:hover {
    background-color: #2980b9;
}

.name-container {
    text-align: left;
    font-size: 18px;
    margin: 10px 0;
    color: #ecf0f1;
    font-weight: bold;
    padding-left: 20px;
}

/* Hide scrollbar, but still scrollable */
.time-entry-table-wrapper {
    overflow-y: scroll; /* Ensure the element is scrollable */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.time-entry-table-wrapper::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}


.time-entry-table {
    width: 100%; /* Use full width of the container */
    max-width: 95%; /* Prevent overflow */
    border-collapse: collapse;
    font-size: 18px; /* Reduce font size */
    margin: 20px auto;
}

.time-entry-table th, .time-entry-table td {
    text-align: center;
    padding: 5px; /* Reduce padding */
    border: 1px solid #ecf0f1;
    width: auto; /* Adjust column width to fit content */
}

.time-entry-table th {
    color: #ecf0f1;
}

.time-entry-table td {
    background-color: #34495e;
    font-size: 16px;
}

.highlight-row {
    background-color: #2c3e50 !important;
    color: grey;
}


.time-entry-wrapper {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    padding: 10px; /* Add padding for visual comfort */
}

#main-content {
    display: none; /* Hide the main content initially */
}

#main-content.visible {
    display: block; /* Show the main content after loading */
}

.time-entry-table input[type="date"],
.time-entry-table input[type="time"],
.time-entry-table input[type="number"],
.time-entry-table input[type="text"],
input[type="date"],
input[type="text"] {
    background-color: inherit; /* Use the same background color as the body */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: fit-content;
}

.time-entry-table input[type="date"]::placeholder,
.time-entry-table input[type="number"]::placeholder,
input[type="date"]::placeholder,
input[type="text"]::placeholder {
    color: grey;
    opacity: 1;
    font-weight: bolder;
}

.time-entry-table input[type="time"]:-webkit-autofill,
.time-entry-table input[type="number"]:-webkit-autofill,
input[type="date"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inherit inset !important;
    -webkit-text-fill-color: white !important;
}

/* Form Styling */
.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}

.time-entry-form {
    width: 80%;
    max-width: 2550px;
    margin: 0 auto;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
}

.form-label {
    color: #ecf0f1;
    font-weight: bold;
    background-color: #34495e;
}




.input-time {
    font-size: medium;
}

.input-date, .input-time {
    position: relative;
    padding-left: 30px;
    color: grey;
}

input[type="time"],
input[type="number"],
input[type="date"] {
    background-color: inherit;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: left;
    font-weight: bolder;
    width: 95%;
    max-width: 200px;
    font-size: large;
}

input[type="time"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
    color: white;
    opacity: 1;
    font-weight: bolder;
}

input[type="time"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="date"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inherit inset !important;
    -webkit-text-fill-color: white !important;
}

/* Style for clickable span elements */
.clickable {
    cursor: pointer; /* Changes cursor to pointer */
    transition: transform 0.3s ease; /* Smooth transition for the transform effect */
  }
  
  /* 3D hover effect */
  .clickable:hover {
    transform: perspective(1000px) translateZ(10px); /* Moves the element towards the viewer */
    color: #16a085;
  }

  .time-entry-table td input:hover {
    transform: scale(1.4); /* Make the input field 20% larger */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow for a 3D effect */
    z-index: 1; /* Ensure the input field appears above other elements */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
    color: #16a085 !important;
}

.time-entry-table td input {
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transition */
}

  

/* Style the cursor to a pointer for checkboxes */
input[type="checkbox"] {
    cursor: pointer;
    transition: transform 0.6s ease; /* Transition for smooth rotation */
  }
  
  /* Rotate the checkbox when it is checked */
  input[type="checkbox"]:checked {
    transform: rotate(360deg);
  }

  /* Style the date input field */
input[type="date"] {
    cursor: pointer; /* Changes cursor to pointer */
    transition: transform 0.3s ease; /* Smooth transition for the transform effect */
    float:right;
  }
  
  /* 3D hover effect */
  input[type="date"]:hover {
color: #16a085;  }
  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black with opacity */
}

p {
    color: white;
}

.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    text-align: center;
    color: white;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
h2{
    color: white;
}
.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#loading-bar-container {
    width: 40%;
    height: 30px; /* Adjust the height as needed */
    background-color: #34495e; /* Same color as the nav bar background */
    position: relative;
    overflow: hidden;
    margin-top: 2px; /* Adjust this to align with the solid line */

    /* Centering */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


#loading-bar {
    width: 0%;
    height: 100%;
    background-color: #1abc9c; /* Solid color for the loading bar */
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 20px 20px;
    position: relative;
    transition: width 0.4s ease-in-out;
    animation: loading-stripes 1s linear infinite;
}

#loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 14px;
}

@keyframes loading-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0; /* Adjust to control the speed of the animation */
    }
}


#content {
    visibility: hidden;
}

#notification-area {
    position: fixed;
    top: 30%; /* Adjust this if you want it higher or lower */
    left: 50%;
    transform: translateX(-50%);
    color: red;
    padding: 10px 20px;
    border: #000;
    border-radius: 2px;
    border-radius: 5px;
    font-size: 1px;
    z-index: 10000;
    display: none; /* Initially hidden */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/* Button Styling */
.submit-button,
.play-pause-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1abc9c;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.reset-button {
    background-color: #e74c3c; /* Set a default color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #ecf0f1;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add color transition */
}
.table-responsive {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
}
.time-entry-table-wrapper {
    width: 100%;
    overflow-x: auto;
}
/* Optional: You can add some padding to the container for better alignment */
.table-responsive {
    padding: 0 10px;
}

.reset-button:hover {
    background-color: black;
    color: white;
}

.submit-button:hover, 
.play-pause-button:hover {
    background-color: #16a085;
}

.hidden {
    display: none;
}

input[type="number"] {
    width: calc((1ch * 6) + 10px); /* Adjust width based on the number of characters */
    padding: 0px; /* Add padding if needed */
    box-sizing: content-box; /* Ensure padding doesn't affect width */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .header-right {
        flex-direction: column;
        gap: 10px;
    }

    .time-entry-table {
        width: 90%;
        overflow-x: auto;
        display: block;
    }

    .time-entry-table th,
    .time-entry-table td {
        min-width: 120px; /* Adjust based on your preference */
        box-sizing: border-box;
    }

    .time-entry-form {
        padding: 10px;
    }

    .form-group label {
        font-size: 14px;
    }

    .submit-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .play-pause-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    /* Make the table scrollable */
    .time-entry-table-wrapper {
        overflow-x: auto;
    }
}

/* Add these styles at the end of your style.css file */

@media (max-width: 1024px) {
    .time-entry-table {
        width: 100%;
        overflow-x: auto;
    }

    .time-entry-table th,
    .time-entry-table td {
        min-width: 100px; /* Adjust as needed */
        padding: 5px;
        font-size: 14px;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-label {
        text-align: left;
        padding-right: 0;
    }

    .form-value {
        text-align: right;
    }

    .header-left, .header-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .header-left, .header-right {
        flex-direction: column;
        align-items: flex-start;
    }

    .info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .time-entry-table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

    .time-entry-table th,
    .time-entry-table td {
        min-width: 80px; /* Adjust based on your preference */
        box-sizing: border-box;
    }

    .time-entry-form {
        padding: 10px;
    }

    .form-group label {
        font-size: 12px;
    }

    .submit-button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .play-pause-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}