:root {
    --bg-color: #2c3e50;
    --text-color: #ecf0f1;
    --header-bg: #34495e;
    --border-color: #ecf0f1;
    --button-bg: #e74c3c;
    --button-hover-bg: #c0392b;
    --input-bg: #34495e;
    --input-text-color: white;
    --highlight-color: #1abc9c;
    --highlight-hover-color: #16a085;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bolder;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    background-color: var(--header-bg);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--border-color);
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.header-left .logo {
    height: 50px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-info span {
    font-size: 16px;
    color: var(--text-color);
    font-weight: bolder;
    transition: color 0.3s ease;
}

.logout-button,
.toggle-button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--button-bg);
    color: var(--text-color);
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logout-button:hover,
.toggle-button:hover {
    background-color: var(--button-hover-bg);
}

.navbar {
    background-color: var(--header-bg);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}



#employee-name-filter {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #16a085;
}

.navbar ul li a:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

.name-container {
    text-align: left; /* Ensures text is left-aligned */
    font-size: 18px;
    margin: 10px 0;
    color: var(--text-color);
    font-weight: bold;
    padding-left: 20px;
    transition: color 0.3s ease;
    width: 70%; /* Match the width of the table */
    margin: 0 auto; /* Center the container */
    cursor: pointer;
}

.time-entry-table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 30px;
}

.time-entry-table th,
.time-entry-table td {
    text-align: center;
    padding: 10px;
    border: 1px solid var(--border-color);
    transition: border-color 0.3s ease;
}

.time-entry-table th {
    color: var(--text-color);
}

.time-entry-table td {
    background-color: var(--input-bg);
}

.time-entry-table input[type="date"],
.time-entry-table input[type="time"],
.time-entry-table input[type="number"],
.time-entry-table input[type="text"],
input[type="date"],
input[type="text"] {
    background-color: inherit;
    color: var(--input-text-color);
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.time-entry-table input[type="date"]::placeholder,
.time-entry-table input[type="number"]::placeholder,
input[type="date"]::placeholder,
input[type="text"]::placeholder {
    color: var(--input-text-color);
    opacity: 1;
    font-weight: bolder;
}

.time-entry-table input[type="time"]:-webkit-autofill,
.time-entry-table input[type="number"]:-webkit-autofill,
input[type="date"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inherit inset !important;
    -webkit-text-fill-color: var(--input-text-color) !important;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.time-entry-form {
    width: 96%;
    max-width: 2550px;
    margin: 0 auto;
    background-color: var(--input-bg);
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.form-label {
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
}

input[type="number"] {
    width: 50%;
}

.input-time {
    font-size: medium;
}

.input-date,
.input-time {
    position: relative;
    padding-left: 30px;
    color: var(--input-text-color);
}

input[type="time"],
input[type="number"],
input[type="date"] {
    background-color: inherit;
    color: var(--input-text-color);
    border: none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    width: 95%;
    max-width: 300px;
    font-size: large;
}

input[type="time"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder {
    color: var(--input-text-color);
    opacity: 1;
    font-weight: bolder;
}

input[type="time"]:-webkit-autofill,
input[type="number"]:-webkit-autofill,
input[type="date"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px inherit inset !important;
    -webkit-text-fill-color: var(--input-text-color) !important;
}

.submit-button,
.play-pause-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submit-button:hover,
.play-pause-button:hover {
    background-color: var(--highlight-hover-color);
}

.navbar {
    background-color: var(--header-bg);
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    display: inline-block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: var(--highlight-color);
    color: var(--text-color);
}

@media (max-width: 768px) {
    .name-container {
        width: 100%; /* Full width on smaller screens */
        padding-left: 10px; /* Adjust padding for smaller screens */
    }

    .time-entry-table {
        width: 100%; /* Full width on smaller screens */
        margin: 10px 0; /* Adjust margin for smaller screens */
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
    }

    .navbar ul li a {
        padding: 10px;
    }
}
