body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px 0; /* Add padding-top to ensure the top is visible */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the start to keep the top visible */
    min-height: 100vh; /* Ensure the body covers the full viewport height */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 400px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: #555;
}

input, select, textarea, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#submittedData {
    margin-top: 20px;
}

.hidden {
    display: none;
}
